/* selecciona el elemento raíz de un árbol que representa el documento (pendiente de otra definición) */
:root {
  --clr-margin: hsl ( 227,  228%,  229% );
}

body {
  background-image: url(../MM/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;   
  width:1500px;
  height: 1366px;
}

#marginNeon {
  padding: 100px;
  border-radius: 40px;
  background-color: transparent;
  border: var(--clr-margin) 2px solid;
  box-shadow: inset 0 0 3em 0 var(--clr-margin), 0 0 3em 0 var(--clr-margin);
}

.principal {
align-items: center;
text-align: center;
justify-content: center;
display: flex;
}

.pokemonAllCards {
position: relative;
display: flex;
flex-wrap: wrap;
width: 100%;
height: 100%;
margin: 20px;
border-radius:10px;
background: #501c5d;
}


